@import "bootstrap.css";

/*
* =====================================
* Main elements
* =====================================
*/
body {
	font-family: "PT Sans", sans-serif;
}

a:link{
	color:#557082;
}
a:hover, a:focus{
	background: none;
	color:#12252c!important;
}
textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}

table.mceLayout {
    width: 100% !important;
}
.defaultSkin table{
	float:left;
}
/*
* =====================================
* Header elements
* =====================================
*/
#header {
	background: url("http://www.vt.edu/global_assets/themes/standard_2/images/vt_header_secondary_bg_960.jpg") repeat scroll center top transparent!important;
    border: 0px none;
    height: 147px;
    margin: 0px;
    padding: 0px;
    min-width: 100%!important;
    width: 100%!important;
}

#headerTitle{
	display:none;
}
/*
* =====================================
* Navbar elements
* =====================================
*/

#navbar {border:none;}
#navbar > ul > li > a {
	font-size: 16px;
}
.navbar {border-radius: 0px; max-height: 25px;}
.navbar-default {background-color: #333333; border-color: #333333;}

.navbar .nav > li > a {
	color: #ffffff;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: -1px;
}

.nav > li > a:hover {
  text-decoration: none;
  background-color: #ff6600;
}

.navbar .nav > li > a:hover {
  background-color: #ff6600;
  color: #ffffff;
  text-decoration: none;
}

.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #ff6600;
  color: #ffffff;
}
.navbar-default .navbar-brand {
	color:#c2c1ba;
	font-size:20px;
}
.dropdown-menu li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 28px;
  color: #333333;
  white-space: nowrap;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  text-decoration: none;
  color: #ffffff;
  background-color: #ff6600;
}
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #ff6600;
  text-decoration: none;
  outline: 0;
  background-color: #ff6600;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	background-color: #ff6600;
	color:#ffffff;
}

#loginDisplay{
	padding:2px;
}

#userNotify, #user, #info, #searchDrop {
  font-size: 18px;
  line-height: 1.3333333;
  height:50px;
}

#userNotify > a, #user > a, #info > a, #searchDrop > a {width:100%; height: 100%;}

#userNotify > a > .glyphicon, #user > a > .glyphicon, #info > a > .glyphicon, #searchDrop > a > .glyphicon {font-size: 15px; padding-top:1px;}
.notify-badge {
	width:auto;
    height:auto;
    position:relative;
    display: inline-block;
    top: -10px;
    left: -3px;
}
.notify-badge > span {
	background-color: #660000;
	font-size: 10px;
}

#searchBar {
  padding-top:.5em;
}

.container {padding-left: 10px; padding-right: 10px;}

#container {
	width:100%; 
	min-width: 100%!important;
}
/*
* =====================================
* Body/content elements
* =====================================
*/
#main {
	margin-left: 5%; 
	width: 90%; 
	color:#333333;
	font-size: 1.3em;
}

#sidebar {display: none;}
#content {border:none;}

.label {color:#333333; font-size:14px;}

.btn-danger {
	background-color: #660000;
	border-color: #660000;
}
.btn-success {
	background-color: #333333;
	border-color: #333333;
}
.btn-info {
	background-color: #646464;
	border-color: #646464;
}
.btn-info:hover, .btn-info:focus, .btn-info:active {
	background-color: #c2c1ba;
	border-color: #646464;
}
.btn-info:focus, .btn-info:active, .btn-info.active:focus {
	outline: 5px auto #646464!important;
}
/*
* =====================================
* Journal setup form
* =====================================
*/
ul.steplist li a{
	color:#557082;
}
.form-control:focus {
	border-color: #646464;
	-webkit-box-shadow: inset 0 1px 1px rgba(194,193,186,.075),0 0 8px rgba(100,100,100,.6);
	box-shadow: inset 0 1px 1px rgba(194,193,186,.075),0 0 8px rgba(100,100,100,.6);
}
textarea.form-control {
	width:100%;

}

.formSubheading > p {
	font-size:18px;
	font-weight: normal!important;
}

.emptyInputGroup {
	border: 1px #ccc solid!important; 
	border-radius: 4px!important;
	background-color: #eee;
	font-weight: normal;
  	line-height: 1;
  	color: #555;
  	padding: 6px 12px;
  	margin-top: -1%;
  	width: 100%;
  	font-size: 14px;
}
.emptyInputGroup > label {
	float:left;
}

.mobile {display:none!important;}
.desktop {display:inherit;}


@media (max-width: 767px) {
	#navbar li {
		font-size: 24px;
		text-align: left;
		width:100%;
	}
	#navbar li a {
		width:100%;
	}
	.navbar {
		max-height: 100%;
	}
	.navbar-collapse {
		padding-right: 0px;
	}
	.navbar-collapse.in {
		overflow-y: inherit;
	}
	.navbar-default .navbar-brand {
		font-size: 24px;
	}
	#searchBtn > span.glyphicon, #userBtn > span.glyphicon, #notifyBtn > span.glyphicon  {
		color: white;
	}
	.navbar-toggle:hover, .navbar-toggle:focus {
		background-color: #660000!important;
		border-color: #660000;
	}
	.container {padding-right: 15px;}

	.desktop {display:none;}
	.mobile{display:inherit!important;}

}

