// .scroll-top Code taken and modified from Joe Sexton @ webtipblog.com
.scroll-top-wrapper {
    position: fixed;
    @include opacity(1.0);
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    @include background($vt_lt_gray);
    color: #eeeeee;
    width: em(50px);
    height: em(48px);
    line-height: em(48px);
    right: em(10px);
    bottom: em(30px);
    padding-top: 2px;
    @include border-top-left-radius(em(10px));
    @include border-top-right-radius(em(10px));
    @include border-bottom-left-radius(em(10px));
    @include border-bottom-right-radius(em(10px));
    @include single-transition(all, 0.5s, ease-in-out);
}
.scroll-top-wrapper:hover, .scroll-top-wrapper:focus {
    @include background($vt_deep_gray);
    @include opacity(1.0);
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
    @include opacity(.5);
}
.scroll-top-wrapper i.fa {
    line-height: inherit;
}
