@media screen and (max-width: map-get($breakpoints, md)) {

    .row-offcanvas {
      position: relative;
      @include single-transition(all, 0.25s, ease-in-out);
      @include min-height(50em);
    }
    .row-offcanvas-right .sidebar-offcanvas {
      right: -60%;
      margin-right: 0px;
    }
    .row-offcanvas-left {

       .sidebar-offcanvas {
        left: -70%;
        overflow:hidden!important;
        @include background(#ffffff);
        .sidebar-nav {
          margin-top: -.6em;
          width:100%;
        }
      }
    }
    .row-offcanvas-right.active {
      right: 60%;
    }
    .row-offcanvas-left.active {
      left: 70%;
    }
    .sidebar-offcanvas {
      position: absolute;
      top: -1.45em;
      width: 70%;
      @include min-height(120em);
      display: none;
      border-top: none;
      // border-right: 2px solid $vt_deep_gray;
      // border-bottom: 2px solid $vt_deep_gray;

      .sidebar-nav {
        @include min-height(120em);

        #userWelcome {
          padding-left: 3em!important;
          color: $vt_deep_gray;
        }
        li.dropdown.open a.dropdown-toggle {
          @include background($vt_deep_maroon);
        }
        ul.nav.navbar-nav {
          min-height: 100%!important;
        }
        ul.dropdown-menu > li {
          margin-left: -2em!important;

          a {
            padding-left: em(25px) + .5em!important;
          }
        }
      }

      li {
        width: 100%;
        height: 100%;
        margin: 0!important;
        padding-left: 1.5em!important;
        color: $nav_font_color;
        font-size: em($font-size) + .4em;

      }

    }


    #body.container {width: 100%;}

    .navbar {
		.glyphicon {
			font-size: 1.5em;
		}
	}
	.navbar-collapse {
		padding-right: 0em;

		ul.nav.navbar-nav {
			margin: em(7.5px) em(-28px) em(-14px);

			li {
				padding-left: em(10px);
			}
		}
	}
	.navbar-collapse.in {
		overflow-y: inherit;
	}

	.navbar-default .navbar-brand {
		font-size: em($base-font-size + 8px);
	}

	.navbar__glyph--mobile  {
		color: $nav_font_color;
	}

	.navbar-toggle .icon-bar {
		width: em(30px);
		height: em(4.4px);
	}
	.navbar-toggle:hover, .navbar-toggle:focus {
		background-color: $vt_deep_maroon!important;
		border-color: $vt_deep_maroon;

        .navbar__notify-badge {
            span {
                @include background($vt_deep_gray);
            }
        }

	}

    .navbar__notify-badge {
        margin-top: -1.5em;
		margin-right: -.2em;
		padding-left: .5em;
		font-size: $font-size!important;
		span {
			@include background($vt_deep_maroon);
            font-size: .625em;
		}

	}
	.navbar--mobile--notify {
		.navbar__glyph--mobile {
			margin-right: -.5em!important;
		}
	}
    .navbar--mobile--notify, .navbar--mobile--search {
        @include float-left();
    }
    #breadcrumb {font-size: 14px!important;}
    .article__content--title {
        text-align: center;
    }
}

@media screen and (max-width: map-get($breakpoints, sm)) {
	.steplist {
		display:none;
	}
	.mceButton {
    	width: em(17px)!important;
    	height: em(17px)!important;
   		margin-right: em(2px)!important;
	}
	#submissionPreparationChecklist, #notifications {
		.input-group {
			width: 100%;
		}
		.input-group-addon {
			display: inherit;
			@include min-width(100%);

			&:first-child {
				border-right: 1px solid #ccc;
				@include border-top-left-radius(em(4px)!important);
				@include border-top-right-radius(em(4px)!important);
				@include border-bottom-left-radius(0!important);
				@include border-bottom-right-radius(0!important);
			}
			&:last-child {
				border-left: 1px solid #ccc;
				@include border-top-left-radius(0!important);
				@include border-top-right-radius(0!important);
				@include border-bottom-left-radius(em(4px)!important);
				@include border-bottom-right-radius(em(4px)!important);
			}
		}
	}

    .article__issue, .article__season {
        @include reset-float();
        margin: auto;
        text-align: center;
    }
}
