html.no-js{

	#container {

		.visible-xs {
			display: none!important;
		}
		.hidden-xs {
			.navbar-static-top {
				padding: 0!important;
			}
			display: inherit!important;
			.nav {
				li {
					display: inline-block!important;
				}

			}
			.navbar-nav {
				margin: 0!important;
			}
		}
		.dropdown:hover, .dropdown:focus {
			.dropdown-menu {
				display:block;
			}
		}
		#navbarToggle:hover, #navbarToggle:focus {
			#mobileUser {
				display: block;
			}
		}
		.collapse {
		  display: block
		}
		#body {

		}
		#sidebar-tab {
			display: none;
		}
		#sidebar{
			display: block!important;
			#rightSidebar {
				display: block;
			}
		}
	}
}
