#content {
    @include filter-margin-left(5%);
    margin-left: 5%;
    @include filter-margin-right(5%);
    margin-right: 5%;
    border: none;

    #editors {
        a {
            vertical-align: middle;
        }
    }

}
