@import "compass";
@import "variables.scss";
/*
* =====================================
* General classes and ids
* =====================================
*/
// !important so as to ensure the override of any other class' text-align
.center{
	text-align:center!important;
}
.left {
	text-align: left!important;
}
.right{
	text-align: right!important;
}

.b, b{
	font-weight:bold;
}
.i, i{
	font-style:italic;
}
.bi{
	font-weight:bold; 
	font-style:italic;
}
.u {
	text-decoration:underline;
}
//duplication in HTML somewhere
.underline {
	@extend .u;
}
.normal {
	font-style:normal;
	font-weight:normal;
}
