
@import "bootstrap.scss";
@import "hacks.scss";
@import "offCanvas.scss";
@import "screen.scss";
@import "mobile.scss";
@import "general.scss";

/*
* =====================================
* Header elements
* =====================================
*/

#vt-logo {
	margin-left: -1.8em!important;
}

@media (max-width: $tablet-break) {
	html.no-js {
		div.hidden-xs {
			display: block!important;
		}
		div.visible-xs {
			display:none!important;
		}
	}
}