@import url(table.css);
/* line 7, ../sass/article.scss */
blockquote {
  font-size: 1em;
  margin: 0 0 2em;
}

/* line 12, ../sass/article.scss */
#breadcrumb {
  margin-left: -0.9em !important;
}

/* line 16, ../sass/article.scss */
#main {
  width: 95% !important;
}

/* line 19, ../sass/article.scss */
#content {
  max-width: 75em;
}

/* line 22, ../sass/article.scss */
.artmargin {
  margin: 0 .5em;
  position: relative;
}
/* line 26, ../sass/article.scss */
.artmargin h2 {
  margin-bottom: 1em !important;
}
/* line 29, ../sass/article.scss */
.artmargin p {
  font-size: 1em;
}
/* line 32, ../sass/article.scss */
.artmargin p.bigFirst:first-letter {
  font-size: 4em;
  float: left;
  padding: 0.125em;
  font-style: italic;
  margin-left: 0;
  line-height: 2.5em;
  margin-top: -0.9375em;
  padding: 0.75em 0 0 0;
}

/* line 45, ../sass/article.scss */
.alanauthor {
  background: #686868;
  padding: 1em;
  margin-bottom: 0.4em;
  color: #ffffff;
  font-weight: normal;
  font-size: 1.1em;
  font-family: Geneva, Tahoma, sans-serif;
  width: 13em !important;
}

/* line 55, ../sass/article.scss */
.indent {
  text-indent: 2em;
}

/* line 58, ../sass/article.scss */
.block {
  margin-left: 2.5em;
}

/* line 61, ../sass/article.scss */
.floatleft {
  float: left;
  padding-right: 0.625em;
}

/* line 65, ../sass/article.scss */
.floatright {
  float: right;
  padding-left: 0.625em;
}

/* line 70, ../sass/article.scss */
.vol_ssn {
  float: right;
  font-weight: bold;
  margin-right: 1.5em;
  font-size: 1.1em;
}

/* line 76, ../sass/article.scss */
.vol_issue {
  float: left;
  font-weight: bold;
  margin-left: 1.5em;
  font-size: 1.1em;
}

/* line 83, ../sass/article.scss */
.subheading {
  font-weight: bold;
  font-size: 1.1em;
}

/* line 88, ../sass/article.scss */
.subheading2 {
  font-style: italic;
  font-size: 1.1em;
}

/* line 93, ../sass/article.scss */
.subheading3 {
  font-style: italic;
  font-weight: bold;
  font-size: 1em;
}

/* line 98, ../sass/article.scss */
.vl_logo {
  background: black;
  color: white;
  font-family: Arial;
  font-size: 0.6em;
  border-width: 0.0625em;
  border-style: solid;
  border-color: black;
  font-weight: bold;
  padding: 0.125em;
}

/* line 109, ../sass/article.scss */
cite {
  font-style: inherit;
}
/* line 112, ../sass/article.scss */
cite a {
  white-space: pre;
  /* CSS 2.0 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3.0 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  white-space: -moz-pre-wrap;
  /* Mozilla */
  white-space: -hp-pre-wrap;
  /* HP Printers */
  word-wrap: break-word;
  /* IE 5+ */
}

/* line 125, ../sass/article.scss */
sup {
  font-size: 0.83em;
  top: .5em;
  left: -.4em;
}

/* line 131, ../sass/article.scss */
.outdent {
  text-indent: -2em;
}

/* line 135, ../sass/article.scss */
.outdentflush {
  text-indent: -2em;
  padding-left: 2em;
}

/* line 140, ../sass/article.scss */
.outdentli {
  text-indent: -1.3em;
}

/* line 144, ../sass/article.scss */
img {
  border: 0;
}

/* line 148, ../sass/article.scss */
img.center {
  -webkit-align-content: center;
  align-content: center;
}

/* line 152, ../sass/article.scss */
.small-caps {
  font-variant: small-caps;
}

/* line 156, ../sass/article.scss */
.notbold {
  font-weight: normal;
}

/* line 160, ../sass/article.scss */
.notitalic {
  font-style: normal;
}

/* line 164, ../sass/article.scss */
.sup {
  vertical-align: super;
  font-size: 0.83em;
}

/* line 169, ../sass/article.scss */
.sub {
  vertical-align: sub;
  font-size: 0.83em;
}

/* line 173, ../sass/article.scss */
.sansserif {
  font-family: "PT Sans", sans-serif !important;
}

/* line 176, ../sass/article.scss */
.pdf {
  font-weight: normal;
  font-size: 0.8em;
  padding-left: 1.25em;
  font-style: normal;
}

/* line 183, ../sass/article.scss */
.artlink {
  font-size: 0.85em;
  padding-left: 1.25em;
  font-style: normal;
}

/* line 190, ../sass/article.scss */
.overline {
  border-style: solid;
  border-width: 0.0625em 0em 0em 0em;
}

/* line 194, ../sass/article.scss */
div.quoteright {
  float: right;
  width: 16em;
  line-height: 1.6em;
  margin: .5em 0 .5em 2em;
  text-align: left;
  padding: 0.5em 0em 0.5em 0.3em;
  border-top: thick solid #999999;
  border-bottom: thin solid #999999;
  font-family: Verdana, Arial, Geneva, sans-serif;
  font-weight: bold;
  font-size: 1em;
}
/* line 207, ../sass/article.scss */
div.quoteright p {
  font-size: 0.8em;
  line-height: 1.3em;
}

/* line 212, ../sass/article.scss */
.va_caption {
  font-style: italic;
  font-size: .75em;
  font-family: Verdana, Arial, Geneva, sans-serif;
}

/* line 217, ../sass/article.scss */
ul.NoBullet {
  list-style-type: none;
}

/* line 220, ../sass/article.scss */
ol {
  list-style-type: decimal;
  margin-left: 1em;
}

/* line 225, ../sass/article.scss */
.clip {
  *zoom: 1;
  padding: 0 1em;
  border: 0.0625em solid #333333;
  margin-bottom: 1em;
}
/* line 22, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.clip:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 231, ../sass/article.scss */
.clip div:last-of-type {
  clear: both;
}

/* line 236, ../sass/article.scss */
.clipLeft {
  float: left;
}

/* line 240, ../sass/article.scss */
.clipRight {
  float: right;
}

/* line 244, ../sass/article.scss */
.cliptitle {
  margin: 1em 0 0 0;
  text-align: left;
  font-style: italic;
  font-weight: bold;
  font-size: 1em;
}

/* line 252, ../sass/article.scss */
.Z3988 {
  padding-left: .2em;
}

@media (max-width: 767px) {
  /* line 257, ../sass/article.scss */
  h2 {
    text-align: center;
  }

  /* line 261, ../sass/article.scss */
  .artmargin p {
    font-size: 1.2em;
  }

  /* line 265, ../sass/article.scss */
  .alanauthor {
    width: 100% !important;
    font-size: 1.2em;
  }

  /* line 269, ../sass/article.scss */
  div.quoteright {
    float: left;
    width: 100% !important;
    margin: 0 0 1em 0;
  }
  /* line 275, ../sass/article.scss */
  div.quoteright img {
    display: block;
    margin: auto;
  }

  /* line 280, ../sass/article.scss */
  .clipLeft, .clipRight {
    float: none;
    text-align: center;
  }
}
/* iPhone / mobile webkit */
@media screen and (max-width: 480px) {
  /* line 288, ../sass/article.scss */
  .vol_ssn, .vol_issue {
    float: none;
    margin: auto;
    text-align: center;
  }
}
